# Java / Maven
target/
*.class
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database
*.db
*.db-shm
*.db-wal

# Python leftovers (if any)
__pycache__/
*.pyc

# Node (if used later)
node_modules/

*.mp4